$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin phone {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: 993px) and (max-width: 1200px) {
    @content;
  }
}
@mixin large-monitor {
  @media only screen and (min-width: 1201px) {
    @content;
  }
}
