/* SCSS HEX */
$bg: #1f3044ff;
$gainsboro: #dee5e7ff;
$cadmium-orange: #f89044ff;
$saddle-brown: #88410eff;
$black-coral: #646b78ff;
$beau-blue: #cad3dfff;

@mixin default-flex {
  background-color: $bg;
  border: 2px solid red;
  display: flex;
  padding: 150px;
  line-height: 1.75rem;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  color: $beau-blue;
}

@mixin default-header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: $cadmium-orange;
}
