* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fcf7df;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  background-color: none;
  opacity: 0.5;
  width: 100vw;
  position: fixed;
}

.navbar__list {
  display: flex;
}
.navbar__list--right {
  list-style: none;
}
.navbar__list--left {
  padding: 10px;
}
.navbar__list--item {
  padding: 10px;
}
.navbar__list--links {
  text-decoration: none;
}
.navbar__list--links:hover {
  text-shadow: 4px 6px 5px rgba(0, 0, 0, 0.41);
}

.landing__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.landing__container--left {
  padding: 10px;
  width: 40%;
  font-size: 1 em;
}
.landing__container--right {
  font-size: 1em;
  padding: 10px;
  text-align: right;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.skills__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.projects__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.contact__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

footer {
  text-align: center;
  background-color: #957c85;
}
