/* SCSS HEX */
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

i {
  font-size: 20px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  background-color: none;
  opacity: 0.5;
  width: 100vw;
  position: fixed;
}
@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
.navbar__list {
  display: flex;
}
.navbar__list--right {
  list-style: none;
}
.navbar__list--left {
  padding: 10px;
  color: #dee5e7;
}
.navbar__list--item {
  padding: 10px;
}
.navbar__list--links {
  text-decoration: none;
  color: #dee5e7;
}
.navbar__list--links:hover {
  color: #f88f44;
  text-shadow: 4px 6px 5px rgba(0, 0, 0, 0.41);
}

.landing__container {
  background-color: #1f3044;
  display: flex;
  padding: 150px;
  line-height: 1.75rem;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #cad3df;
  flex-direction: column;
  justify-content: center;
  color: #f88f44;
}
.landing__container--top {
  padding: 30px;
  text-align: center;
  font-size: 1 em;
}
.landing__container--bottom {
  font-size: 1em;
  padding: 30px;
  text-align: center;
  color: #cad3df;
}
.landing__container--avatar {
  width: 75%;
  align-self: center;
  margin: 10px 0;
}
@media only screen and (max-width: 600px) {
  .landing__container {
    padding: 10px;
    width: 100vw;
  }
  .landing__container--top {
    width: 80vw;
    text-align: center;
    font-size: 1 em;
    margin-bottom: 10px;
  }
  .landing__container--bottom {
    width: 90vw;
    font-size: 1em;
    text-align: center;
    color: #cad3df;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .landing__container--top {
    width: 100vw;
    text-align: center;
    font-size: 1 em;
    margin-bottom: 10px;
  }
  .landing__container--bottom {
    font-size: 1em;
    text-align: center;
    color: #cad3df;
  }
  .landing__container--avatar {
    width: 75%;
    align-self: center;
    margin: 10px 0;
  }
}
.landing__container--avatar {
  width: 75%;
  align-self: center;
  margin: 10px 0;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .landing__container {
    font-size: 24px;
  }
  .landing__container .name {
    margin: 10px 0;
  }
  .landing__container--top {
    padding: 30px;
    text-align: center;
    font-size: 1 em;
  }
  .landing__container--bottom {
    font-size: 1em;
    padding: 30px;
    text-align: center;
    color: #cad3df;
  }
  .landing__container--avatar {
    width: 75%;
    align-self: center;
    margin: 10px 0 0 10px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .landing__container {
    font-size: 1.25rem;
  }
  .landing__container--avatar {
    width: 50%;
    align-self: center;
    margin: 30px 0;
  }
}
@media only screen and (min-width: 1201px) {
  .landing__container {
    font-size: 1.25rem;
  }
  .landing__container--avatar {
    width: 20%;
    align-self: center;
    margin: 60px 0;
  }
}

.about__container {
  background-color: #1f3044;
  display: flex;
  padding: 150px;
  line-height: 1.75rem;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #cad3df;
  display: flex;
  flex-direction: column;
}
.about__container__header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #f88f44;
}
@media only screen and (max-width: 600px) {
  .about__container {
    height: auto;
    padding: 40px 10px;
  }
  .about__container__image {
    width: 80%;
    margin-top: 20%;
    padding: 10px 10px;
  }
  .about__container__header {
    margin-bottom: 25px;
  }
  .about__container--content {
    padding: 15px;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .about__container {
    height: auto;
    font-size: 1.2rem;
  }
  .about__container .about__container__image {
    width: 100%;
    margin-top: 40%;
    padding: 10px 10px;
  }
  .about__container .about__container__header {
    margin-bottom: 25px;
  }
  .about__container .about__container--content {
    padding: 15px;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .about__container {
    padding: 50px;
    font-size: 20px;
    height: auto;
  }
  .about__container__image {
    width: 80%;
    padding: 20px 10px 10px 10px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .about__container {
    padding: 25px;
    font-size: 18px;
    height: auto;
  }
  .about__container__image {
    width: 70%;
    margin: 50px 0;
    padding: 20px 10px 10px 10px;
  }
}
@media only screen and (min-width: 1201px) {
  .about__container {
    padding: 25px;
    font-size: 18px;
    height: auto;
    height: 100%;
  }
  .about__container__image {
    width: 70%;
    margin: 50px 0;
    padding: 20px 10px 10px 10px;
  }
  .about__container .about__container {
    height: 100%;
  }
  .about__container .about__container--content {
    width: 60%;
  }
  .about__container .about__container__image {
    width: 40%;
    height: 40%;
  }
}

.skills__container {
  background-color: #1f3044;
  display: flex;
  padding: 150px;
  line-height: 1.75rem;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #cad3df;
  height: 100%;
}
.skills__container__header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #f88f44;
}
@media only screen and (max-width: 600px) {
  .skills__container {
    padding: 40px 10px;
    justify-content: space-between;
    flex-direction: column;
  }
  .skills__container--content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }
  .skills__container__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 4rem;
    padding: 20px;
    margin-top: 40px;
    color: #cad3df;
  }
  .skills__container__icons p {
    font-size: 1rem;
    margin: 10px 0;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .skills__container {
    height: 100%;
    flex-direction: column;
    padding: 30px;
  }
  .skills__container__header {
    margin-bottom: 40px;
    align-items: flex-start;
  }
  .skills__container--content {
    border: 2px solid #dee5e7;
    border-radius: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }
  .skills__container__icons p {
    font-size: 1rem;
    margin: 5px 0;
  }
  .skills__container__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 4rem;
    padding: 20px;
    margin-top: 40px;
    color: #dee5e7;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .skills__container {
    height: 100%;
    flex-direction: column;
    padding: 30px;
  }
  .skills__container__header {
    margin-bottom: 40px;
    align-items: flex-start;
  }
  .skills__container--content {
    border: 2px solid #dee5e7;
    border-radius: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }
  .skills__container__icons p {
    font-size: 1rem;
    margin: 5px 0;
  }
  .skills__container__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 4rem;
    padding: 20px;
    margin-top: 40px;
    color: #dee5e7;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .skills__container {
    padding: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .skills__container__header {
    font-size: 2rem;
    margin: 15px;
  }
  .skills__container--content {
    border: 2px solid #646b78;
    border-radius: 15px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }
  .skills__container .icons__span {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 10px;
  }
  .skills__container .icons__span--label {
    padding-left: 10px;
    color: #dee5e7;
  }
  .skills__container__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 30px;
  }
  .skills__container .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 4rem;
    padding: 20px;
    margin-top: 40px;
    color: #cad3df;
  }
  .skills__container .icons__span {
    padding: 2px;
  }
  .skills__container .icons__span--label {
    font-size: 0.9rem;
    font-weight: 200;
  }
  .skills__container .icons__span:hover {
    color: #f88f44;
    font-size: 1.25rem;
  }
  .skills__container .icons__span i {
    font-size: 3rem;
    padding: 5px;
  }
  .skills__container .icons__span i:hover {
    color: #f88f44;
    font-size: 3.25rem;
    padding: 3px;
    transition: 200ms;
  }
  .skills__container__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 4rem;
    padding: 20px;
    margin-top: 40px;
    color: #cad3df;
  }
}
@media only screen and (min-width: 1201px) {
  .skills__container {
    padding: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .skills__container__header {
    font-size: 2rem;
    margin: 15px;
  }
  .skills__container--content {
    border: 2px solid #646b78;
    border-radius: 15px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }
  .skills__container .icons__span {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 10px;
  }
  .skills__container .icons__span--label {
    padding-left: 10px;
    color: #dee5e7;
  }
  .skills__container__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 30px;
  }
  .skills__container .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 4rem;
    padding: 20px;
    margin-top: 40px;
    color: #cad3df;
  }
  .skills__container .icons__span {
    padding: 2px;
  }
  .skills__container .icons__span--label {
    font-size: 0.9rem;
    font-weight: 200;
  }
  .skills__container .icons__span:hover {
    color: #f88f44;
    font-size: 1.25rem;
  }
  .skills__container .icons__span i {
    font-size: 3rem;
    padding: 5px;
  }
  .skills__container .icons__span i:hover {
    color: #f88f44;
    font-size: 3.25rem;
    padding: 3px;
    transition: 200ms;
  }
}

.projects__container {
  background-color: #1f3044;
  display: flex;
  padding: 150px;
  line-height: 1.75rem;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #cad3df;
  height: 100%;
  flex-direction: column;
}
.projects__container .project.__title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.projects__container .project.__desc {
  font-size: 0.8rem;
}
.projects__container__item--img > img {
  width: 90%;
  height: 240px;
}
.projects__container__header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #f88f44;
}
@media only screen and (max-width: 600px) {
  .projects__container {
    padding: 20px;
    height: auto;
  }
  .projects__container--content {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects__container__item {
    line-height: normal;
    font-size: 10px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .projects__container__item--img > img {
    width: 90%;
    height: 170px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .projects__container {
    padding: 20px;
    min-width: 0;
    height: auto;
  }
  .projects__container__header {
    margin-bottom: 10px;
  }
  .projects__container--content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects__container__item {
    width: 40%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dee5e7;
    border-radius: 15px;
  }
  .projects__container .project_img {
    max-width: 70%;
    height: auto;
    overflow: hidden;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .projects__container {
    padding: 20px;
    min-width: 0;
    height: auto;
  }
  .projects__container__header {
    margin-bottom: 10px;
  }
  .projects__container--content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects__container__item {
    width: 40%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dee5e7;
    border-radius: 15px;
  }
  .projects__container .project_img {
    max-width: 70%;
    height: auto;
    overflow: hidden;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .projects__container {
    width: 100%;
    padding: 80px 20px;
  }
  .projects__container--content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .projects__container__item {
    width: 30%;
    padding: 10px;
    margin: 15px;
    border: 1px solid gray;
    border-radius: 15px;
  }
  .projects__container .project_img {
    max-width: 90%;
    height: auto;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1201px) {
  .projects__container {
    width: 100%;
    padding: 80px 20px;
  }
  .projects__container--content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .projects__container__item {
    width: 30%;
    padding: 10px;
    margin: 15px;
    border: 1px solid gray;
    border-radius: 15px;
  }
  .projects__container .project_img {
    max-width: 90%;
    height: auto;
    overflow: hidden;
  }
}

.contact__container {
  background-color: #1f3044;
  display: flex;
  padding: 150px;
  line-height: 1.75rem;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #cad3df;
}
.contact__container__header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #f88f44;
}
@media only screen and (max-width: 600px) {
  .contact__container {
    height: 60vh;
    padding: 20px;
    flex-direction: column;
    height: 100%;
  }
  .contact__container__header {
    width: 100vw;
    align-items: flex-start;
    justify-content: center;
  }
  .contact__container--content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .contact__container__links {
    justify-content: space-between;
  }
  .contact__container__links i {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .contact__container {
    height: 60vh;
    padding: 20px;
    flex-direction: column;
    height: 100%;
  }
  .contact__container__links i {
    margin: 10px;
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .contact__container {
    height: 60vh;
    padding: 20px;
    flex-direction: column;
    height: 100%;
  }
  .contact__container__links i {
    margin: 10px;
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .contact__container {
    padding: 20px;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .contact__container--content {
    justify-content: center;
  }
  .contact__container__links i {
    margin: 10px;
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1201px) {
  .contact__container {
    padding: 20px;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .contact__container--content {
    justify-content: center;
  }
  .contact__container__links i {
    margin: 10px;
    font-size: 2.5rem;
  }
}

footer {
  text-align: center;
  background-color: #1f3044;
}
